<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.1.1" package="com.roberteves.HertfordshireMercury.android" android:installLocation="auto" android:versionCode="2">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Hertfordshire Mercury"></application>
</manifest>